{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pandemic Horde Inc</title>
    <link rel="icon" type="image/ico" href="{% static 'img/icons/favicon.ico' %}"/>
    <link href="{% static 'css/css_index.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style type="text/css">
        html,
        body,
        header,
        .view {
            height: 100%;
        }

        @media (max-width: 559px) {
            html,
            body,
            header,
            .view {
                height: 1000px;
            }
        }

        @media (min-width: 560px) and (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 700px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .view {
                height: 600px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331 !important;
            }
        }
    </style>
    <meta name="google-site-verification" content="G253oEh-O1J9OL8vrt7WIFT8JYCC9fOe9PiIOPK1ST4" />
</head>

<body>

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
            <strong>MDB</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.pandemic-horde.org/" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://zkillboard.com/alliance/99005338/"
                       target="_blank">Our Stats</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.youtube.com/channel/UCg1v_BeF07JbmyJg3_gY_CA" class="nav-link" target="_blank">
                        <i class="fa fa-youtube-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'principal:panel' %}"
                       class="nav-link border border-light rounded">
                        {% if user.is_authenticated %}
                            <i class="fa fa-user-circle-o mr-2"></i>Ir a Panel
                        {% else %}
                            <i class="fa fa-user-circle-o mr-2"></i>Login
                        {% endif %}
                    </a>
                </li>
                &nbsp;&nbsp;
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'usuarios:new' %}"
                       class="nav-link border border-light rounded">
                            <i class="fa fa-user-plus mr-2"></i>Register
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->

{% block cuerpo %}

<!-- Full Page Intro -->
<div class="view">

    <video class="video-intro" poster="{% static 'img/background.jpg' %}" playsinline autoplay
           muted loop>
        <source src="{% static 'video/fondo.mp4' %}" type="video/mp4">
    </video>

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">

            <h1 class="display-4 mb-4">
                <strong>Pandemic Horde Inc!</strong>
            </h1>

            <h4 class="mb-4">
                <strong>We're working hard to finish the development of this warehouse site. </strong>
            </h4>

            <h4 class="mb-4 d-none d-md-block">
                <strong>Until then GTFO</strong>
            </h4>
        </div>
        <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->

{% endblock %}

<!--Footer-->
<footer class="page-footer text-center font-small wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
        <a class="btn btn-outline-white" href="https://www.pandemic-horde.org/forum/index.php" target="_blank"
           role="button">Start on our forum
            <i class="fa fa-graduation-cap ml-2"></i>
        </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.youtube.com/channel/UCg1v_BeF07JbmyJg3_gY_CA" target="_blank">
            <i class="fa fa-youtube-play mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Copyright:
        Pandemic Horde Inc
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<script type="text/javascript" src="{% static 'js/js_index.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
</body>

</html>